.load_image {
	background: #D6D6D6;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	width: 0px;
	transition: all .3s;

	.canvas {
		border: 5px;
		border-color: aquamarine;
	}
}

.reveal {
	color: white;
	background: #068CBF;
	border: 1px #045c80 solid;
	box-shadow: inset 0 1px 0 #80B0FB;
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 14px;

	&:hover {
		border: 1px #2F5BB7 solid;
		box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
		background: #0694cc;
	}

	&:active {
		box-shadow: inset 0 2px 5px #2370FE;
	}
}