.panel {
  background: #fff;
  border-radius: 10px;
  max-width: 1024px;
  min-height: 700px;
  width: 100%;
  margin-top: 10px;

  display: flex;
  flex-direction: column;

  overflow: auto; /* default 812 */
  /* Medium devices (landscape tablets, 812px and up) */
  @media only screen and (min-width: 812px) {
    box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.27);
    height: 100%;
  }

  .header {
    padding: 5px 5px;
    height: 45px;
    @media only screen and (min-width: 812px) {
      padding: 15px 5px;
      height: auto;
    }

    border-radius: 7px 7px 0 0;
    display: flex;
    //flex-direction: column;
    align-items: center;
    color: #fff;
    background: #15a57f;

    .headline {
      margin: 0px;
      flex: 100;
      text-align: center;
    }
  }

  .info {
    margin-left: 10px;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px 14px;
    background-color: #128C6C;
    text-align: center;
    user-select: none;
    border-radius: 50%;
    border: 5px solid white;
    cursor:pointer;
    
    &:hover {
      background: #149976;
    }

    &:active {
      background: #A63716;
      box-shadow: inset 0 2px 5px #A63716;

    }
  }

  .body {
    padding: 5px 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* Medium devices (landscape tablets, 812px and up) */
    @media only screen and (min-width: 812px) {
      height: 100px;
      padding: 20px;
    }
  }

  .info-popup-enter, .info-popup-leave-to{
    opacity: 0;
    transform: translateY(10px)
  }

  .info-popup-enter-active, .info-popup-leave-active {
    transition: all .5s ease;
  }
}